<div class = "scoreboard">
    <img src="./../../assets/images/hurray5.gif" height="100%">
    <div class="board">
        <div class = "title">
            Scoreboard
        </div>
        <div class="scores">
            <!-- <img src="./../../assets/images/winnerhalo.png"height="35%" color="rgba(0,0,0,4b)"> -->
            
            <div class="player" *ngFor="let x of scores; let i = index" [ngClass] = "{
                'first': i == 0,
                'second': i == 1,
                'third': i == 2,
                'fourth': i == 3
            }">
                <div style="font-size: 120%;">Place {{i + 1}}</div>
                <div>Name: {{x.name}}</div>
                <div>Score: {{x.Score}}</div>
            </div>
            <!-- <div class="player" >
                Player:3
            </div>
            <div class="player">
                Player:2
            </div> -->
            <!-- <div *ngFor = "let i of scores" style = "color: rgb(19, 18, 18);">
                {{i.name}} {{i.Score}}
            </div> -->
        </div>
        
    </div>
    
</div>