<div class="bg">
    <h1 class="center">Tic Tac Toe Puzzle 5</h1>

    <button class="center" nbButton outline status="danger" (click)="newGame()">Start new Game</button>


    <h2 *ngIf="winner" class="center">
        <div *ngIf = "winner == 'X'">Code is hFdtRqq12</div>
        <div *ngIf = "winner == 'O'">Try again!</div>
    </h2>

    <div class="center" style="margin:10vh">
        <main>
            <app-nonogram *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)">

            </app-nonogram>
        </main>
    </div>
</div>